<footer class="footer container-fluid py-2 mt-5" style="background-color: #9dbaec">


<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-4 mt-5">
            <div class="image-container">
             <p class="copyright">&copy Dragon Dreamworks</p>
            </div>
        </div>
        <div class="col-md-4 mt-5">
            <div class="stone">
            <img src="/img/stone.jpg" class="img-fluid mx-auto d-block" alt="">
            </div>
        </div>
        <div class="col-md-4 mt-5">
            <div class="links">
           <a href="/contact">Contact Us</a>
            </div>
            <div class="links">
                <a href="/artists">Who we are</a>
            </div>
            <div class="links">
           <a href="/gallery">Browse</a>
            </div>
            <div class="links">
           <a href="/events">Find Us</a>
            </div>
            <div class="links">
           <a href="/">Home Page</a>
            </div>
        </div>
        </div>
</div>
</footer>