<% layout('./layouts/boilerplate') %>
<div class="text-center mt-3">   
<p class="title">Meet our Makers</p>

<div>
<p class="drag mt-3">Dragon Tia</p>
<div class = " bga row">
    <div class="col">
        <img src="/img/shirtback.jpg" class="img-fluid mx-auto d-block" alt="">
    </div>
    <div class="col">
        <img src="/img/msuhroom.jpg" class="img-fluid mx-auto d-block" alt="">
    </div>
</div>
<a class="insta" href="https://www.instagram.com/kimchicraftworks?igsh=aWVicTczY3JleWxz">@kimchicraftworks</a>
<p class="container mt-2"> This dragon started crocheting a few years ago and has not been able to get rid of the bug since. The meticulous details in her art are not overlooked as she cranks out project after project.</p>
</div> 


<div>
<p class="drag mt-5">Dragon Neva</p>
<div class = "bga content-center row">
    <div class=" col">
        <img src="/img/moralcrib.jpg" class="img-fluid mx-auto d-block" alt="">
    </div>
    <div class="col">
        <img src="/img/rebel.jpg" class="img-fluid mx-auto d-block" alt="">
    </div>
</div>
<p class="container mt-2">This dragon is great at everything she does. She's been taking art classes ever since she was a child and it shows. Specializing in painting, knitting, and book binding, what can't she do?</p>
</div> 

<div>
<p class="drag mt-5">Dragon Fany</p>
<div class = "bga row">
    <div class="col">
        <img src="/img/spoon.jpg" class="img-fluid mx-auto d-block" alt="">
    </div>
   <div class="col-6 col-md-4 mb-4">
            <div class="image-container">
            <img src="/img/stone.jpg" class="img-fluid mx-auto d-block" alt="">
            </div>
        </div>
</div>
<p class="container mt-2">This dragon created the website you are currently browsing. Our techno genius also dabbles in the art world of wood carving to create that perfect balance.  </p>
</div> 

<div>
<p class="drag mt-5">Dragon Kelgirl</p>
<p class="container mt-2">This dragon is the glue that has kept us together since day one. Planning our get togethers and making every moment count. Every great team needs a manager right? </p>
</div> 

</div>

</div>
