<% layout('./layouts/boilerplate') %>

<div class="container alert alert-dark mt-5" role="alert">
  <h4 class="text-center alert-heading">Error Found</h4>
  <p class="text-center">Seems our techno genius is taking a snooze. The dragons are on their way to alert her of the problem.
        <div class=" container text-center col-8 col-lg-6">
        <a href="/" class="button-63" role="button">Back to Home</a> 
        </div>
    </p>
  <hr>
</div>