<% layout('./layouts/boilerplate') %>
<div class="mx-auto text-center mt-2 mb-3">
  <p class="title mt-3">Let's Go to the Market</p>  
  <p>
     This summer, Dragon Dreamworks will have our first series of markets featuring handmade items available for purchase. We are so excited to bring our art nights to you!  
  </p>
</div>    


<div class="card mx-auto text-center" style="width: 18rem;">
  <img src="/img/market.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="title card-title">Berlin Market</h5>
    <p class="card-text text-center">Come find us at the Berlin outdoor flea market that runs every Sunday! Contrary to popular opinion, dragons love company.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Upcoming dates TBD!</li>
    <li class="list-group-item">41 Clementon Rd Berlin, NJ</li>
    <li class="list-group-item">10:00AM - 2PM </li>
  </ul>
</div>