<% layout('./layouts/boilerplate') %>
<p class="title text-center mt-3">Window Shop</p>

<div class="container">
    <div class="row">
        <div class="col-6 col-md-4 mb-4">
            <div class="image-container">
            <img src="/img/bagfar.jpg" class="img-fluid mx-auto d-block" alt="">
            </div>
        </div>
        <div class="col-6 col-md-4 mb-4">
            <div class="image-container">
            <img src="/img/poe.jpg" class="img-fluid mx-auto d-block" alt="">
            </div>
        </div>
        <div class="col-6 col-md-4 mb-4">
            <div class="image-container">
            <img src="/img/bagzipper.jpg" class="img-fluid mx-auto d-block" alt="">
            </div>
        </div>
        <div class="col-6 col-md-4 mb-4">
            <div class="image-container">
            <img src="/img/frog.jpg" class="img-fluid mx-auto d-block" alt="">
            </div>
        </div>
        <div class="col-6 col-md-4 mb-4">
            <div class="image-container">
            <img src="/img/shirtback.jpg" class="img-fluid mx-auto d-block" alt="">
            </div>
        </div>
        <div class="col-6 col-md-4 mb-4">
            <div class="image-container">
            <img src="/img/katesweater.jpg" class="img-fluid mx-auto d-block" alt="">
            </div>
        </div>
        <div class="col-6 col-md-4 mb-4">
            <div class="image-container">
            <img src="/img/orange.jpg" class="img-fluid mx-auto d-block" alt="">
            </div>
        </div>
        <div class="col-6 col-md-4 mb-4">
            <div class="image-container">
            <img src="/img/rosebook.jpg" class="img-fluid mx-auto d-block" alt="">
            </div>
        </div>
        <div class="col-6 col-md-4 mb-4">
            <div class="image-container">
            <img src="/img/bookm1.jpg" class="img-fluid mx-auto d-block" alt="">
            </div>
        </div>
        <div class="col-6 col-md-4 mb-4">
            <div class="image-container">
            <img src="/img/rebel.jpg" class="img-fluid mx-auto d-block" alt="">
            </div>
        </div>
        <div class="col-6 col-md-4 mb-4">
            <div class="image-container">
            <img src="/img/bagzipperfar.jpg" class="img-fluid mx-auto d-block" alt="">
            </div>
        </div>
        <div class="col-6 col-md-4 mb-4">
        <div class="image-container">
            <img src="/img/shirtfront.jpg" class="img-fluid mx-auto d-block" alt="">
            </div>
        </div>
        <div class="col-6 col-md-4 mb-4">
            <div class="image-container">
            <img src="/img/msuhroom.jpg" class="img-fluid mx-auto d-block" alt="">
            </div>
        </div>
        <div class="col-6 col-md-4 mb-4">
            <div class="image-container">
            <img src="/img/bagclose.jpg" class="img-fluid mx-auto d-block" alt="">
            </div>
        </div>
        <div class="col-6 col-md-4 mb-4">
            <div class="image-container">
            <img src="/img/bookm2.jpg" class="img-fluid mx-auto d-block" alt="">
            </div>
        </div>
        <div class="col-6 col-md-4 mb-4">
            <div class="image-container">
            <img src="/img/fred.jpg" class="img-fluid mx-auto d-block" alt="">
            </div>
        </div>
        <div class="col-6 col-md-4 mb-4">
            <div class="image-container">
            <img src="/img/moralcrib.jpg" class="img-fluid mx-auto d-block" alt="">
            </div>
        </div>
        <div class="col-6 col-md-4 mb-4">
            <div class="image-container">
            <img src="/img/stawb.jpg" class="img-fluid mx-auto d-block" alt="">
            </div>
        </div>
        <div class="col-6 col-md-4 mb-4">
            <div class="image-container">
            <img src="/img/hat.jpg" class="img-fluid mx-auto d-block" alt="">
            </div>
        </div>
        <div class="col-6 col-md-4 mb-4">
            <div class="image-container">
            <img src="/img/bookm3.jpg" class="img-fluid mx-auto d-block" alt="">
            </div>
        </div>
    </div>

<p class="container text-center mt-5"> At Dragon Dreamworks, we bring your ideas to life. As a commission-based business, we specialize in creating custom works of art tailored to your preferences and budget. Contact us today to begin the journey!</p>

<div class=" container text-center col-8 col-lg-6 mt-5 mb-3">
<a href="/contact" class="button-63" role="button">Contact Us</a> 
</div>

</div>
