<% layout('./layouts/boilerplate') %>

<div class=" container d-flex justify-content-center align-items-center col-xl-5 col-md-6 mt-3">
    <img src="/img/shirtfront.jpg" class="group img-fluid " alt="">
</div>


<h2 class="title text-center mb-4 mt-4">
     A Group of Friends who Make Art
</h2>
<p class="container text-center"> Crochet ~ Painting ~ Book Binding ~ Wood Carving ~ Journals </p>

<div class=" container text-center col-8 col-lg-6">
<a href="/gallery" class="button-63" role="button">Browse our Gallery</a> 
</div>




<div class="container text-center mt-5 mb-5">

<div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/img/bagfar.jpg" class="d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
      <img src="/img/rebel.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/img/bookm1.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev dark" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class=" container text-center col-8 col-lg-6 mt-5 mb-3">
<a href="/contact" class="button-63" role="button">Commisions</a> 
</div>

<p class="regular">We love ideas. Send us yours and we can make it happen.</p>

</div>

<div class="text-center mt-5">
<h2 class="title mb-3">It's Market Season</h2>
<p class="regular">Join us this summer at the Berlin Market as we showcase our art for the very first time!
<div class=" container text-center col-8 col-lg-6">
<a href="/events" class="button-63" role="button">Visit Us</a> 
</div>
</div>


<div class="text-center mt-5">
<h2 class="title">Meet the Dragons</h2>
</div>

<div class = " container justify-content-center mt-5 mb-5">
   
        <img src="/img/dragart.png" class="img-fluid justify-content-center" alt="">
   
   
    </div>


<p class=" container regular text-center mb-5"> 
The inception of Dragon Dreamworks traces back to a night, years ago, when we were faced with the timeless question of how to spend a Saturday night. We decided on what we now call 'Art Night'- a regularly themed gathering that in return created Dragon Dreamworks as you know it today.  We are four friends that bring out the best in each other with unqiue traits that allowed this small business to take shape.</p>

<div class=" container text-center col-8 col-lg-6">
<a href="/artists" class="button-63" role="button">Learn More</a> 
</div>