

/*home*/
html {
    box-sizing: border-box;
}

body{
overflow-x: hidden !important;
}

.group{
display: flex;
        align-items: center; 
max-width: 75%;
height: auto;
}


/*button*/

.button-63 {
  align-items: center;
  background-image: linear-gradient(144deg,#c77bfe, #9687f6 50%,#ec78e6);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-63:active,
.button-63:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-63 {
    font-size: 24px;
    min-width: 196px;
  }
}


/*title paaragphs*/
.title{
font-size: 6vw;
padding: 0 10%;
color:#6d16ac;
}

.list-group-item{
color:#6d16ac;
font-weight: 500;
}

p{
  font-weight: 500;
  font-size: 1em;
}

.image-container {
        display: flex;
        align-items: center; /* Center vertically */
        justify-content: center; /* Center horizontally */
        height: 100%; /* Ensure the container takes full height of column */

}

.image-wrapper{
  max-width: 100%;
}

/*Dargon artistst page*/
.drag{
font-size: 6vw;
padding: 0 10%;
color:#6d16ac;
font-weight: bold;
/*font-size: 2em;
letter-spacing: 2px;
color:#c77bfe;
font-style: italic;
padding: 0;*/
}

.drag2{
font-size: 6vw;
color:#6d16ac;
font-weight: bold;
text-align: left;
}

.otherp{
  color:black;
  font-size: 4vw;
  font-weight:450;
}

.insta{
 color:#6d16ac;
font-size: 1.25em;
}



/*contact*/
.small{
  font-weight: 500;
  font-size: 1em;
  color:#6d16ac;
}

/*footer*/


.copyright{
font-size: 5vw;
color:#6d16ac;
font-weight: 800;
}

.links{
text-align: center;
padding: 1.9%;
}

a{
 text-decoration: none;
 color:#6d16ac;
font-weight: bold;
font-size: 3.5vw;
}

a:hover{
  color:rgb(248, 228, 251);
}

.stone{
display: grid;
align-items: center;
justify-content: center; 
height: 100%;
border-radius: 50%; 
overflow: hidden;
}

